* {
    box-sizing: border-box;
}

.logo {
    float: left;
    width: 33%;
    background-color: lemonchiffon;
}

.logo img {
    max-width: 82px;
    max-height: 82px;
}

.text {
    float: left;
    width: 33%;
    background-color: lemonchiffon;
    text-align: center;
}

.user-info {
    float: left;
    width: 15%;
    background-color: lemonchiffon;
    text-align: right;
}

.user-name {
    float: left;
    width: 19%;
    background-color: lemonchiffon;
    text-align: center;
    padding-right: 10px;
}

.body-part {
    margin: 20px;
}

.content {
    max-width: 100%;
    padding: 10px;
}

.content table {
    width: 100%; 
    border: 5px;
    border-collapse: collapse;
}

.content td {
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

.content td input {
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
}

.content td button {
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.content td button:hover {
    background-color: #45a049;
}

.content tr:nth-child(even) {
    background-color: #fff;
}

.content tr:nth-child(odd) {
    background-color: #f2f2f2;
}
